.w3-display-container {
    margin-bottom:0px;
}

img {
    width: 100%;
    height: 607px;
}

.w3-display-bottomleft {
    bottom:10%;
    opacity:0.8;
    width:60%;
    padding-bottom: 20px;
}

footer{
    height: 50px;
}